/* Définition des polices personnalisées */
@font-face {
    font-family: 'Raleway Thin';
    src: url("font/Raleway-VariableFont_wght.ttf") format("truetype")
}

/* BODY */

body {
    font-family: 'Raleway Thin';
    text-decoration: none;
    list-style: none;
    max-width: 1400px;
    margin: auto;
    padding: 0;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover {
    color: #0065FC;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    font-size: 16px;
    font-weight: 400;
}


/* HEADER */

header {
    width: 96%;
    padding: 0% 2%;
}

nav {
    display: flex;
    justify-content: space-between;
}

header img {
    width: 61.09px;
    height: 19px;
    margin-top: 48px;
}

.navbutton {
    display: flex;
    font-size: 16px;
    font-weight: 400;
}

header .navbutton a {
    border-top: 2px solid;
    border-color: transparent;
    padding: 48px;
}

header nav div a:hover {
    border-top: 2px solid;
    border-color: #0065FC;
    color: #0065FC;
}


/* SECTION 1 */

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    padding: 2%;
}

.search h1 {
    margin-bottom: 8px;
}

.search__bar {
    display: flex;
    margin-top: 20px;
}

.search__bar span {
    font-size: 18px;
    padding: 16px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search__bar button.loupe {
    display: none;
    padding: 16px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    cursor: pointer;
}

.search__bar input {
    border: 1px solid;
    border-color: #d9d9d9;
    width: 230px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}

.search__bar button.text {
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 132px;
    height: 50px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.search__bar button:active {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    color: #0065FC;
}


/* SECTION 1 : FILTRES */

.search__filters {
    display: flex;
    align-items: center;
    width: 925px;
    margin-top: 40px;
}

.search__filters h2 {
    margin-right: 32px;
}

.search__filters button {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.search__filters__button {
    display: flex;
    gap: 43px;
}

.search__filters button:active {
    background-color: #deebff;
}

.search__filters button span {
    margin-right: 10px;
    color: #0065FC;
}

.search__filters span#money-bill {
    font-size: 18px;
}

.search__filters span#body-child {
    font-size: 22px;
}

.search__filters span#hearth {
    font-size: 20px;
}

.search__filters span#dog {
    font-size: 20px;
}


/* SECTION 1 : INFO */

.search__info {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.search__info span {
    font-size: 10px;
    color: #0065FC;
}

.search__info .wrapper {
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    padding: 7px;
    width: 10px;
}


/* SECTION 2 : HEBERGEMENTS */

.search--result {
    display: flex;
    width: 96%;
    padding: 2%;
}

.note i {
    font-size: 11px;
    color: #0065FC;
}


/* SECTION 2 : BLOC 1 */

.result__lodging {
    background-color: #f2f2f2;
    width: 66%;
    border-radius: 20px;
    padding: 42px 40px 46px 40px;
    box-sizing: border-box;
    margin-right: 30px;
}

.result__lodging .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 23px;
    margin-bottom: 40px;
    gap: 20px;
}

.result__lodging a {
    width: 30%;
}

.cards__small {
    height: 100%;
    border-radius: 20px;
    background-color: white;
    border: 5px solid #ffffff;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cards__small img {
    height: 114px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.cards__small h4 {
    margin: 3px 0 6px 14px;
}

.cards__small p {
    margin: 0 0 9px 14px;
    font-size: 14px;
    font-weight: 400;
}

.cards__small .note {
    display: flex;
    gap: 2px;
    margin-left: 14px;
}


/* SECTION 2 : BLOC 2 */

.result__popular {
    background-color: #f2f2f2;
    width: 33%;
    padding: 41px 40px 34px 37px;
    border-radius: 20px;
    box-sizing: border-box;
}

.result__popular .title {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.result__popular .title img {
    height: 15.75px;
    width: 18px;
    margin-top: 6px;
}

.result__popular .cards {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 26px;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 34px;
}

.cards__medium {
    display: flex;
    height: 144px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cards__medium img {
    height: 134px;
    width: 40%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    border: 5px solid #ffffff;
}

.cards__medium__info  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 22px 10px 15px;
}

.info__title {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.info__title p {
    font-size: 14px;
}

.cards__medium__info .note {
    display: flex;
    gap: 2px;
}

/* SECTION 3 */

.activity--results {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding: 2%;
}

.activity--results h1 {
    flex: 100%;
    padding-bottom: 20px;
    padding-left: 30px;
}

.card__large {
    height: 444.51px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    box-shadow: 6px 6px 15px rgb(0 0 0 / 20%);
    border-radius: 20px;
    background-color: white;
}

.activity--results a {
    width: 22%;
}

.card__large img {
    height: 389px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card__large__title h4 {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* FOOTER */

footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 25px;
    padding: 45px 280px 55px 70px;
    box-sizing: border-box;
    width: 96%;
}

footer div {
    display: flex;
    flex-direction: column;
    height: auto;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2 {
    margin-bottom: 20px;
}


/* MEDIA QUERIES : TABLETTE */

@media screen and (max-width: 992px) {
    body {
        max-width: 880px;
        margin: auto;
    }

    /* SECTION 1 : SEARCH FILTERS */

    .search__filters {
        width: 846px;
    }

    .search__filters__button {
        gap: 22px;
    }

    .search__filters__button button {
        padding-left: 15px;
        padding-right: 10px;
    }

    /* SECTION 2 : SEARCH RESULTS */
    .search--result {
        display: flex;
        flex-direction: column;
    }

    .result__lodging {
        width: 100%;
        margin-bottom: 53px;
        padding: 30px
    }

    .result__lodging .cards {
        gap: 10px;
    }

    .result__popular {
        width: 100%;
        height: 278px;
        padding: 34px 40px 48px 40px;
    }

    .result__popular .cards {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .result__popular a {
    width: 30%;
    }

    .cards__medium {
        height: 144px;
    }

    .cards__medium img {
        height: 134px;
        width: 96px;
    }

    .cards__medium__info {
        padding: 12px 4px 12px 10px;
    }

    .cards__medium__info h4 {
        font-size: 14px;
        font-weight: 700;
    }

    .cards__medium__info p {
       font-size: 13px; 
    }

    /* SECTION 3 : ACTIVITES A MARSEILLE */

    .activity--results .cards {
        margin-top: 34px;
    }

    .card__large {
        height: 267px;
        width: 182px;
    }

    .card__large img {
        height: 211px;
        width: 182px;
    }

    .card__large__title {
        display: flex;
        align-items: center;
        height: 46px;
        padding: 0 0 0 19px;
    }

    /* FOOTER */

    footer {
        padding: 45px 150px 58px 70px;
    }
}


/* MEDIA QUERIES : TELEPHONE */

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbutton {
        width: 100%;
        justify-content: space-between;
    }

    header {
        padding: 0;
        width: 100%;
    }

    header .navbutton a {
       width: 100%;
       display: flex;
       justify-content: center;
       flex: 1;
       padding: 5%;
    }

    header .navbutton a.heber {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        padding-bottom: 23px;
    }

    header .navbutton a.activ {
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 23px;
    }

    header .navbutton a:hover {
        border-top: white;
        border-color: #0065FC;
    }

    /* SECTION 1 : SEARCH */

    .search {
        padding-left: 2%;
        padding-right: 2%;
    }

    .search h1 {
        margin-top: 30px;
        margin-bottom: 13px;
    }

    .search__bar {
        margin-top: 36px;
    }

    .search__bar {
        flex: 1;
    }

    .search__bar input {
        width: 100%;
    }

    .search__bar button.text {
        display: none;
    }

    .search__bar button.loupe {
        display: flex;
    }

    .search__filters {
        flex-direction: column;
        margin-top: 34px;
        align-items: flex-start;
        width: 100%;
    }

    .search__filters__button {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        gap: 14px;
        width: 100%;
        flex-wrap: wrap;
    }

    .search__filters button img {
        margin-right: 5px;
    }

    .search__filters__button button {
        height: 50px;
        font-size: 10px;
        flex: 45%;
    }
    
    /* SECTION 2 : SEARCH RESULTS */

    .search--result {
        flex-direction: column-reverse;
        padding: 0;
        width: 100%;
    }

    .result__popular {
        border-radius: 0;
        width: 100%;
        height: auto;
        padding: 28px 2% 47px 2%;
    }

    .result__popular a {
    width: 100%;
    }

    .result__popular .cards {
        flex-direction: column;
        gap: 11px;
    }

    .cards__medium {
        width: 100%;
    }
    
    .cards__medium img {
        height: 134px;
        width: 127px;
    }

    .cards__medium__info {
        padding-right: 10px;
    }

    .result__lodging {
        background-color: white;
        padding: 26px 2% 47px 2%;
        height: auto;
        width: 100%;
        margin: 0;
    }

    .result__lodging a {
        width: 100%;
    }

    .result__lodging .cards {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 19px;
        height: auto;
        gap: 20px;
    }

    .cards__small {
        width: 100%;
        height: 199px;
    }

    .cards__small img {
        width: 100%;
        height: 114px;
    }

    .result__lodging h2 {
        display: none;
    }
    /* SECTION 3 : ACTIVITES A MARSEILLE */

    .activity--results {
        padding: 2%;
        height: auto;
        margin-top: 0;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
    }

    .activity--results a {
        width: 100%;
    }

    .activity--results h1 {
        padding-right: 200px;
        padding-left: 0;
    }

    .card__large {
        height: 190px;
        width: unset;
    }

    .card__large img {
        height: 134px;
        width: 100%;
    }

    /* FOOTER */

    footer {
        flex-direction: column;
        padding: 45px 30px 50px 45px;
        gap: 40px;
        width: 100%;
        margin-left: 0;
    }


}